@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
/**  --heading-font: 'Martian Mono', monospace;
--paragraph-font: 'Martian Mono', monospace; **/

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #F4FAFF;
    text-decoration: none;
}
nav a:hover{
    background-color: #F4FAFF;
    color: #08090A;
    padding: 25px;
}
.home-title, h4{
    color: #08090A;
}
#hero-img {
    width: 100%;

}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #F4FAFF;
}
body{
    background-color: #F4FAFF;
    font-family:  'Martian Mono', monospace;
    margin: 0
}
header{
    background-color: #8789C0;
}
.book{
    background-color: #08090A;
    color: #F4FAFF;
    text-decoration: none;
}
.join{
    background-color: #8789C0;
    color: #F4FAFF;
}
.book:hover{
    background-color: #8789C0;
    color: #F4FAFF;
    text-decoration: none;
}
.join:hover{
    background-color: #F4FAFF;
    color: #08090A;
}
.msg{
    background-color: #8789C0;
}
footer{
    background-color: #8789C0;
    color: #F4FAFF;
    font-size: 1.2em;
}
footer a{
    color: #F4FAFF;
    text-decoration: none;
    padding: 25px;
}
footer a:hover{
    color: #08090A;
    text-decoration: underline;
}
.msg h2, p{
    color: #F4FAFF;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
}
h2{
    color: #08090A;
    margin: 50px;
}
img {
    border: 4px solid steelblue;
}